<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Price</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styleAI.css">
    <!-- <script type="text/javascript" src="static/js/script.js" defer></script> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <link rel="shortcut icon" href="static/img/icons8-location-64.png" />
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">Predicted price</div>
                        <div class="banner-img mt-5 mb-5">
                            <h1>
                                <strong>{{predict[11]}} AUD</strong>
                            </h1>
                        </div>
                        <div class="stats1">
                            <div>
                                <h4>
                                    <strong>YEAR</strong> {{predict[1]}}
                                </h4>
                            </div>
                        </div>
                        <div class="stats2">
                            <div>
                                <h5>
                                    <strong>TYPE</strong> {{predict[9]}}
                                </h5>
                            </div>
                            <div>
                                <h5>
                                    <strong>ROOMS</strong> {{predict[0]}}
                                </h5>
                            </div>
                        </div>
                        <div class="stats3">
                            <div>
                                <h5>
                                    <strong>BEDROOM</strong> {{predict[3]}}
                                </h5>
                            </div>
                            <div>
                                <h5>
                                    <strong>BATHROOM</strong> {{predict[4]}}
                                </h5>
                            </div>
                            <div>
                                <h5>
                                    <strong>PARKING LOT</strong> {{predict[5]}}
                                </h5>
                            </div>
                        </div>
                        <div class="stats3">
                            <div>
                                <h5>
                                    <strong>BUILDING AREA</strong> {{predict[6]}}
                                </h5>
                            </div>
                            <div>
                                <h5>
                                    <strong>AGE</strong> {{predict[8]}}
                                </h5>
                            </div>
                            <div>
                                <h5>
                                    <strong>DISTANCE</strong> {{predict[2]}}
                                </h5>
                            </div>
                        </div>
                        <div class="stats1">
                            <div>
                                <h5>
                                    <strong>COUNCIL</strong> {{predict[7]}}
                                </h5>
                            </div>
                        </div>
                        <div class="stats1">
                            <div>
                                <h5>
                                    <strong>REGION</strong> {{predict[10]}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <button class="btn btn-danger btnBack mt-3 mb-4" onclick="goBack()">Back</button>

</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>

</html>